<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/leipzigdata.css">
  </head>
  <body>
    <img src="stylesheets/banner.jpg" alt="Leipzig Data Banner"
	 class="img-responsive center-block" >
    <div class="container" >
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="." class="navbar-left">Home</a></li> 
	<li><a href="Anliegen.html">Anliegen</a></li>
	<li><a href="OD-Leipzig.html">Open Data in Leipzig</a></li>
	<li><a href="LDO.html">Leipzig Data Ontology</a></li>
	<li><a href="Akteursdatenbank.html">Akteursdatenbank</a></li>
	<li><a href="News.html">Neues</a></li>
      </ul>
    </nav>
    <div class="jumbotron" >
      {{ content }}
    </div>
    </div> <!-- end container -->
    <footer>
      <div class="container">
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="Kontakt">Kontakt</a></li> 
	<li><a href="Impressum">Impressum</a></li>
	<li><a href="Gartenplan">Gartenplan</a></li>
      </ul>
    </nav>
        <p class="center-text"> &copy; The Leipzig Data Project, since 2010</p>
      </div> <!-- end container -->
    </footer>
  </body>
</html>
