<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/leipzigdata.css">
  </head>
  <body>
    <img width="360em" src="stylesheets/banner.png">
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="." class="navbar-left">Home</a></li> 
	<li><a href="About">About</a></li>
	<li><a href="Disclaimer">Privacy</a></li>
      </ul>
    </nav>
    <div class="container" >
    <div class="jumbotron" >
      {{ content }}
    </div>
    </div>
    <footer>
      <div class="container">
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
	<li><a href="Kontakt">Kontakt</a></li> 
	<li><a href="Impressum">Impressum</a></li>
	<li><a href="Gartenplan">Gartenplan</a></li>
      </ul>
    </nav>
        <p class="center-text"> &copy; The Leipzig Data Project, since 2015</p>
      </div>
    </footer>
  </body>
</html>
